<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/font-awesome.min.css">
	<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
	<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
	<link rel="stylesheet" href="../../css/main.css">
	<script src="../../libs/jquery.min.js"></script>
	<script src="../../plugins/layer/layer.js"></script>
	<script src="../../libs/bootstrap.min.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
	<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
	<script src="../../js/common.js"></script>
	
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/info.css">
    <link rel="stylesheet" href="../../css/jedate.css">
</head>
<body>
	<div class="container">
		<div class="form">
			<div class="line1">
				<div class="check-type">
					<label for="">类型：</label>
					<select name="" id="">
						<option value="1">银行间每日债券借贷</option>
						<option value="2">国债期货当日结算价</option>
						<option value="3">国债期货品种排名 </option>
					</select>
				</div>
				<div class="check-name">
					<label for="">债券名：</label>
					<input type="text">
				</div>
			</div>
			<div class="line2">
				<div class="check-date">
					<label for="">日期/时间：</label>
					<input id="dateinfo" type="text" placeholder="请选择"  readonly>
					<div class="icons jebtns" onclick="jeDate('#dateinfo',{trigger:false,format: 'YYYY-MM-DD'})"></div>
				</div>
				<div class="check-btn">
					<input class="selTable" type="button" value="查询" />
				</div>
			</div>
		</div>
	  <div class="table-content">
	  	<table id="process-demo-1">
	  		<thead>
					<tr>
						<th>债券类型</th>
						<th>债券简称</th>
						<th>债券代码</th>
						<th>待偿期（年）</th>
						<th>最新买价%</th>
						<th>当日加提成当成交价格</th>
						<th>今日累计成交量（万元）</th>
					</tr>
				</thead>
				<tbody>
		  	<tr>
	          <td>SuZhou</td>
	          <td>11111</td>
	          <td>22222</td>
	          <td>333</td>
	          <td>666</td>
	          <td>666</td>
	          <td>888</td>
	        </tr>
	        <tr>
	            <td>SuZhou</td>
	            <td>33333</td>
	            <td>44444</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	        <tr>
	            <td>SuZhou</td>
	            <td>55555</td>
	            <td>66666</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	        <tr>
	            <td>ShangHai</td>
	            <td>77777</td>
	            <td>88888</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	        <tr>
	            <td>ShangHai</td>
	            <td>uuuuu</td>
	            <td>hhhhh</td>
	            <td>333</td>
	            <td>666</td>
	            <td>666</td>
	            <td>666</td>
	        </tr>
	        <tr>
	            <td>ShangHai</td>
	            <td>ggggg</td>
	            <td>ccccc</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	        <tr>
	            <td>GuangZhou</td>
	            <td>ttttt</td>
	            <td>eeeee</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	        <tr>
	            <td>GuangZhou</td>
	            <td>ppppp</td>
	            <td>qqqqq</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	  		</tbody>
	  	</table>
	  </div>
  <div class="page">
  	<button>首页</button>
  	<button>上一页</button>
  	<ul>
  		<li ref="number">1</li>
  	</ul>
  	<button>下一页</button>
  	<button>末页</button>
  	<input type="number" >
  	<button>跳转</button>
  </div>
</div>
</body>
	<script src="../../js/jquery-1.4.4.min.js"></script>
	<script src="../../js/table.js"></script>
	<script src="../../js/jedate.min.js"></script>
	<script>
	    $(function(){
	    	// 合并列 第一个参数table名，第二个参数需要合并的列数
	   		_w_table_rowspan("#process-demo-1",1);
	   		// 合并行 第一个参数tableming，第二个参数需要合并单元格的所在行，第三个参数为指定行中单元格对应的最大列数
            _w_table_colspan("#process-demo-1",1,6);

	        jeDate("#dateinfo",{
	            format:"YYYY-MM-DD hh:mm:ss",
	            isTime:false,
	            minDate:"2014-09-19 00:00:00",
	            theme:{ bgcolor:"#00A1CB",color:"#ffffff", pnColor:"#00CCFF"},
	        })
	    })
	</script>
</html>