<!DOCTYPE html>
<html>
<head>
  <title>固收日报查询</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/font-awesome.min.css">
  <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
  <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="../../css/reset.css" type="text/css">
  <link rel="stylesheet" href="../../css/zTreeStyle.css" type="text/css">
  
  
      <script type="text/javascript" src="../../js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../js/jquery.ztree.excheck.js"></script>
	<script src="../../libs/jquery.min.js"></script>
	<script src="../../plugins/layer/layer.js"></script>
	<script src="../../libs/bootstrap.min.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
	<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
	<link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/info.css">
    <link rel="stylesheet" href="../../css/jedate.css">
</head>
<body>
	<div class="container" id="info">
		<div class="form">
			<div class="line1">
				<div class="check-type">
					<label for="">类型：</label>
					<select name="stype" id="stype">
						<option value="1">银行间每日债券借贷</option>
						<option value="2">国债期货当日结算价</option>
						<option value="3">国债期货品种排名 </option>
					</select>
				</div>
				<div class="check-name">
					<label id="nameX" for="">标的券名称：</label>
					<input type="text" id="sname">
				</div>
			</div>
			<div class="line2">
				<div class="check-date">
					<label id="labelS" for="">委托时间起：</label>
					<input class="dateinfo" id="dateinfoS" type="text" placeholder="请选择"  readonly>
					<div class="icons jebtns" onclick="jeDate('#dateinfo',{trigger:false,format: 'YYYY-MM-DD'})"></div>
				</div>
				<div class="check-date">
					<label id="labelE" for="">委托时间止：</label>
					<input class="dateinfo" id="dateinfoE" type="text" placeholder="请选择"  readonly>
					<div class="icons jebtns" onclick="jeDate('#dateinfo',{trigger:false,format: 'YYYY-MM-DD'})"></div>
				</div>
				<div class="check-btn">
					<input class="selTable" type="button" onclick="selData();" value="查询" />
				</div>
			</div>
		</div>
	  <div class="table-content">
	  	<table id="process-demo-1">
	  		<thead id="trName">
					<tr>
						<th>债券类型</th>
						<th>债券简称</th>
						<th>债券代码</th>
						<th>待偿期（年）</th>
						<th>最新买价%</th>
						<th>当日加提成当成交价格</th>
						<th>今日累计成交量（万元）</th>
						<th>今日累计成交量（万元）</th>
						<th>今日累计成交量（万元）</th>
						<th>债券类型</th>
						<th>债券简称</th>
						<th>债券代码</th>
						<th>待偿期（年）</th>
					</tr>
				</thead>
			<tbody id="tdName">
			<!-- 
		  	<tr>
	          <td>SuZhou</td>
	          <td>11111</td>
	          <td>22222</td>
	          <td>333</td>
	          <td>666</td>
	          <td>666</td>
	          <td>888</td>
	        </tr>
	        <tr>
	            <td>SuZhou</td>
	            <td>33333</td>
	            <td>44444</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	        <tr>
	            <td>SuZhou</td>
	            <td>55555</td>
	            <td>66666</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	        <tr>
	            <td>ShangHai</td>
	            <td>77777</td>
	            <td>88888</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	        <tr>
	            <td>ShangHai</td>
	            <td>uuuuu</td>
	            <td>hhhhh</td>
	            <td>333</td>
	            <td>666</td>
	            <td>666</td>
	            <td>666</td>
	        </tr>
	        <tr>
	            <td>ShangHai</td>
	            <td>ggggg</td>
	            <td>ccccc</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	        <tr>
	            <td>GuangZhou</td>
	            <td>ttttt</td>
	            <td>eeeee</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	        <tr>
	            <td>GuangZhou</td>
	            <td>ppppp</td>
	            <td>qqqqq</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	          <tr>
	            <td>SuZhou</td>
	            <td>55555</td>
	            <td>66666</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	        <tr>
	            <td>ShangHai</td>
	            <td>77777</td>
	            <td>88888</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	        </tr>
	        <tr>
	            <td>ShangHai</td>
	            <td>uuuuu</td>
	            <td>hhhhh</td>
	            <td>333</td>
	            <td>666</td>
	            <td>666</td>
	            <td>666</td>
	        </tr>
	        <tr>
	            <td>ShangHai</td>
	            <td>ggggg</td>
	            <td>ccccc</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            <td>888</td>
	            <td>ShangHai</td>
	            <td>ggggg</td>
	            <td>ccccc</td>
	            <td>333</td>
	            <td>666</td>
	            <td>777</td>
	            
	        </tr>
	         -->


	  		</tbody>
	  	</table>
	  </div>
<!-- 
  <div class="page">
  	<button>首页</button>
  	<button>上一页</button>
  	<ul>
  		<li ref="number">1</li>
  	</ul>
  	<button>下一页</button>
  	<button>末页</button>
  	<input type="number" >
  	<button>跳转</button>
  </div>
 -->
</div>
</body>
	<script src="../../js/table.js"></script>
	<script src="../../js/jedate.min.js"></script>
</html>