<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/weixin.css">
</head>
<body>
  <div class="container">
    <div class="form3">
      <h3>2018-12-12国债期货品种排名</h3>
      <div class="remarks">
        <div class="left">合约：TF1709</div>
        <div class="right">交易日期：20181212</div>
      </div>
      <table id="table3">
        <thead class="main-title">
            <th colspan="4">成交量排名</th>
            <th colspan="4">持买量排名</th>
            <th colspan="4">持卖量排名</th>
        </thead>
        <thead class="sub-title">
          <tr>
            <th>名次</th>
            <th>会员简称</th>
            <th>成交量</th>
            <th>比上交易日增减</th>
            <th>名次</th>
            <th>会员简称</th>
            <th>成交量</th>
            <th>比上交易日增减</th>
            <th>名次</th>
            <th>会员简称</th>
            <th>成交量</th>
            <th>比上交易日增减</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>海通期货</td>
            <td>1680</td>
            <td style="color:#008000">-2512</td>
            <td>1</td>
            <td>中信期货</td>
            <td>1680</td>
            <td style="color:#008000">-2512</td>
            <td>1</td>
            <td>海通期货</td>
            <td>1680</td>
            <td style="color:#008000">-2512</td>
          </tr>
           <tr>
             <td>1</td>
            <td>海通期货</td>
            <td>1680</td>
            <td style="color:#008000">-2512</td>
            <td>1</td>
            <td>中信期货</td>
            <td>1680</td>
            <td style="color:#008000">-2512</td>
            <td>1</td>
            <td>海通期货</td>
            <td>1680</td>
            <td style="color:#008000">-2512</td>
          </tr>
           <tr>
             <td>1</td>
            <td>海通期货</td>
            <td>1680</td>
            <td style="color:#008000">-2512</td>
            <td>1</td>
            <td>中信期货</td>
            <td>1680</td>
            <td style="color:#008000">-2512</td>
            <td>1</td>
            <td>海通期货</td>
            <td>1680</td>
            <td style="color:#008000">-2512</td>
          </tr>
           <tr>
            <td>1</td>
            <td>海通期货</td>
            <td>1680</td>
            <td style="color:#008000">-2512</td>
            <td>1</td>
            <td>中信期货</td>
            <td>1680</td>
            <td style="color:#008000">-2512</td>
            <td>1</td>
            <td>海通期货</td>
            <td>1680</td>
            <td style="color:#008000">-2512</td>
          </tr>
          <tr>
            <td>合计</td>
            <td></td>
            <td>13772</td>
            <td style="color:#008000">-2512</td>
            <td></td>
            <td></td>
            <td>44690</td>
            <td style="color:#ff0000">394</td>
            <td></td>
            <td></td>
            <td>1680</td>
            <td style="color:#ff0000">2512</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
</body>
  <script src="js/jquery-1.4.4.min.js"></script>
  <script src="js/table.js"></script>
  <script>
      $(function(){
        // 表格1
        _w_table_rowspan("#table1",1);
        _w_table_colspan("#table1",1,6);
    })
  </script>
</html>