<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/weixin.css">
</head>
<body>
  <div class="container">
    <div class="form1">
      <h3>5月7日部分活跃券点击成交情况</h3>
      <table id="table1">
        <thead>
          <tr>
            <th>债券类型</th>
            <th>债券简称</th>
            <th>债券代码</th>
            <th>待偿期（年）</th>
            <th>最新买价%</th>
            <th>当日加提成当成交价格</th>
            <th>今日累计成交量（万元）</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SuZhou</td>
            <td>11111</td>
            <td>22222</td>
            <td>333</td>
            <td>666</td>
            <td>777</td>
            <td>888</td>
          </tr>
          <tr>
              <td>SuZhou</td>
              <td>33333</td>
              <td>44444</td>
              <td>333</td>
              <td>666</td>
              <td>777</td>
              <td>888</td>
          </tr>
          <tr>
              <td>SuZhou</td>
              <td>55555</td>
              <td>66666</td>
              <td>333</td>
              <td>666</td>
              <td>777</td>
              <td>888</td>
          </tr>
          <tr>
              <td>ShangHai</td>
              <td>77777</td>
              <td>88888</td>
              <td>333</td>
              <td>666</td>
              <td>777</td>
              <td>888</td>
          </tr>
          <tr>
              <td>ShangHai</td>
              <td>uuuuu</td>
              <td>hhhhh</td>
              <td>333</td>
              <td>666</td>
              <td>777</td>
              <td>888</td>
          </tr>
          <tr>
              <td>ShangHai</td>
              <td>ggggg</td>
              <td>ccccc</td>
              <td>333</td>
              <td>666</td>
              <td>777</td>
              <td>888</td>
          </tr>
          <tr>
              <td>GuangZhou</td>
              <td>ttttt</td>
              <td>eeeee</td>
              <td>333</td>
              <td>666</td>
              <td>777</td>
              <td>888</td>
          </tr>
          <tr>
              <td>GuangZhou</td>
              <td>ppppp</td>
              <td>qqqqq</td>
              <td>333</td>
              <td>666</td>
              <td>777</td>
              <td>888</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form2">
      <h3>5月7日利率互换收盘曲线</h3>
      <table id="table2">
        <!-- title标题 -->
          <tr>
            <th></th>
            <th>Shibur_3M</th>
            <th>Shibur_3M</th>
            <th>FROO7</th>
            <th>FROO7</th>
          </tr>
          <tr>
            <th></th>
            <th>收盘利率（%）</th>
            <th>涨跌（BP）</th>
            <th>收盘利率（%）</th>
            <th>涨跌（BP）</th>
          </tr>
          <!-- 正文内容 -->
          <tr>
            <td>1M</td>
            <td>--</td>
            <td>--</td>
            <td>3.0573</td>
            <td>-5.22</td>
          </tr>
          <tr>
            <td>3M</td>
            <td>--</td>
            <td>--</td>
            <td>3.0850</td>
            <td>-1.13</td>
          </tr>
          <tr>
            <td>6M</td>
            <td>4.1425</td>
            <td>3.81</td>
            <td>3.1050</td>
            <td>-0.25</td>
          </tr>
          <tr>
            <td>9M</td>
            <td>4.2163</td>
            <td>4.25</td>
            <td>3.1650</td>
            <td>0.38</td>
          </tr>
          <tr>
            <td>1Y</td>
            <td>4.2775</td>
            <td>6.47</td>
            <td>3.2063</td>
            <td>0.85</td>
          </tr>
          <tr>
            <td>2Y</td>
            <td>4.3663</td>
            <td>6.58</td>
            <td>3.3425</td>
            <td>1.75</td>
          </tr>
          <tr>
            <td>3Y</td>
            <td>4.3913</td>
            <td>6.50</td>
            <td>3.4486</td>
            <td>2.36</td>
          </tr>
          <tr>
            <td>4Y</td>
            <td>4.4038</td>
            <td>5.95</td>
            <td>3.5438</td>
            <td>1.88</td>
          </tr>
          <tr>
            <td>5Y</td>
            <td>4.4188</td>
            <td>6.60</td>
            <td>3.6075</td>
            <td>2.50</td>
          </tr>
          <tr>
            <td>7Y</td>
            <td>4.4425</td>
            <td>5.59</td>
            <td>3.7058</td>
            <td>4.46</td>
          </tr>
          <tr>
            <td>10Y</td>
            <td>4.4825</td>
            <td>5.13</td>
            <td>3.7825</td>
            <td>3.00</td>
          </tr>
      </table>
    </div>
    <div class="echart1">
      <div id="main1" style="height:400px"></div>
    </div>
    <div class="echart2">
      <div id="main2" style="height:400px"></div>
    </div>
</div>
</body>
  <script src="js/jquery-1.4.4.min.js"></script>
  <script src="js/table.js"></script>
  <script src="js/echarts.js"></script>
  <script src="js/weixin.js"></script>
  <script>
      $(function(){
        // 表格1
        _w_table_rowspan("#table1",1);
        _w_table_colspan("#table1",1,6);
        // 表格2
        _w_table_rowspanTh("#table2",1);
        _w_table_rowspan("#table2",1);
        _w_table_colspan("#table2",1,6);
    })
  </script>
</html>