#info{
	display: inline-block;
    padding-left:0;
    margin-top:10px;
    width:auto;
}
#info .form{
	min-width:1060px;
}
.check-date input{
	width:180px;
}
#info .check-type, #info .check-name, #info .check-date{
	display: inline-block;
}
#info .check-btn{
	display:inline-block;
}
#info .form input{
	height: 35px;
	border-radius: 4px;
	border:1px solid #ccc;
}
#info .check-type select, #info .check-name input{
	width:180px;
	height: 35px;
	display: inline-block;
	border-radius:4px;
	margin-right:8px;
}
#info .check-name input{
	padding-left: 5px;
}
input::-webkit-input-placeholder{ 
	color: #999;
	padding-left:10px;
}
#info .check-btn{
	width: 96px;
	height:36px;
	border-radius:3px;
	background: #e31f26;
	color:#fff;
	text-align: center;
	line-height: 36px;
}
#info .check-btn2{
	background: #bba774;
}
#info .check-btn img{
	width:20px;
	height:20px;
	vertical-align: middle;
	display:inline-block;
}
#info .table-content{
	padding-top:20px;
	padding-right:0px;
}
#info #process-demo-1{
	width:100%;
	border:1px solid #e6e6e6;
} 
#info #process-demo-1 thead{
	display:table;
	width:100%;
	table-layout:fixed;
	width: calc( 100% - 17px )
}
#info #process-demo-1 tbody tr{
	display:table;
	width:100%;
	table-layout:fixed;
}
#info #process-demo-1 tbody{
	overflow-y: auto;
    height: 400px;
    display:block;
    overflow-x: hidden;
}
#info #process-demo-1 tbody tr{
	width:100%;
}
#info #process-demo-1 th{
	background-color: #fafafa;
	height:40px;
	vertical-align: middle;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	text-align:center;
}
#info td{
	text-align: center;
	height:30px;
	line-height: 30px;
	border-top:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
}
#info .page {
	text-align: right;
	padding-top:15px;
	padding-right:20px;
	margin-bottom: 40px;
}
#info .page ul, #info .page li{
	display: inline-block;
}
#info .page li{
	width:23px;
	height: 23px;
	text-align: center;
	line-height: 20px;
	color:#000;
	border:1px solid #ddd;
}
#info .page li.active{
	background: #4395FF;
	color:#fff;
}
#info .page button{
	
}
#info .page button:hover{
	background: #4395FF;
}
#info .page input{
	width:50px;
	height:25px;
	border:1px solid #ddd;
	border-radius: 3px;
	padding-left:5px;
}
#info tr td:first-child{
	vertical-align: middle;
}
#process-demo-1 tbody tr:nth-child(2n){
	background:#fdfdfd;
}